<div class="py-5 curved-bottom bg-peach">
	<div class="container py-5">
		<div class="row align-items-center">
			<div class="col-md-6">
				<h1 class="display-4 bold-1">Family Therapy Services</h1>
				<p class="lead">Something about what I do.</p>
				<hr class="my-4">
				<p>Actively seeing new patients and accepting of insurance.</p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Schedule Now</a>
			</div>
			<div class="col-md-6 d-none d-md-block">
				<%= image_tag("family.png", class:"img-fluid") %>
			</div>
		</div>
	</div>
</div>
<div class="container py-5">
	<h1 class="text-center">About Me</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="container-fluid bg-purple py-5">
	<div class="container">
		<h1 class="text-center">How I help</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>
<div class="container py-5">
	<h1 class="text-center">Preparing for your first visit</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>