<div class="container mt-5 pt-5">
	<div class="row align-items-center">
		<div class="col-md-6">
			<%= image_tag("child-1.jpg", class: "img-fluid rounded") %>
		</div>
		<div class="col-md-6">
			<h1>Child</h1>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-md-6">
			<h1>Adolescent</h1>
		</div>
		<div class="col-md-6">
			
			<%= image_tag("ladies-1.jpg", class: "img-fluid rounded") %>
		</div>
	</div>
</div>