@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

:root {
    --primary: #071A8E;
    --secondary: #96add1;
    --greylight: #ebe3df;
    --greydark: #c6c2c9;
    --peach: #f9ebe4;
    --purple: #8d79af;
    --pink: #ff86ad;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: 'Quicksand', sans-serif;
}

html,
body,
#wrap {
    height: 100%;
}

body>#wrap {
    height: auto;
    min-height: 100%;
}

#main {
    padding-bottom: 150px;
    /* must be same height as the footer */
}

#footer {
    position: relative;
    margin-top: -150px;
    /* negative value of footer height */
    height: 150px;
    clear: both;
}

.bold-1 {
    font-weight: 800;
}

.bg-peach {
    background: var(--peach);
}

.bg-purple {
    background: var(--purple);
}

.bg-greylight {
  background: var(--greylight);
}

.bg-greydark {
  background: var(--greydark);
}

.curved-bottom {
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.btn-outline-primary {
    color: var(--primary);
    background-color: transparent;
    background-image: none;
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.changeColorWhite {
    background: #fff !important;
    transition: 0.7s all;
}

#nav-schedule {
    transition: 0.7s all;
}

.btn {
  font-weight: bold!important;
}
.btn-pink {
    color: #fff!important;
    background-color: var(--pink);
    border-color: var(--pink);
}

@media only screen and (min-width: 768px) {
.appt-form, .alert {
  max-width: 500px;
}
}
.hide {
  display: none;
}