<footer id="footer" class="py-5 text-muted text-center text-small bg-greydark">
	<p class="">&copy; 2018 Stillwell Counseling Services</p>
	<ul class="list-inline">
		<li class="list-inline-item"><a href="#">Privacy</a></li>
		<li class="list-inline-item"><a href="#">Terms</a></li>
		<li class="list-inline-item"><a href="#">Support</a></li>
	</ul>
</footer>